<!DOCTYPE html>
<html>
    <head><title>Form data manipulation</title></head>
    <body>
        <form action="" method="POST">
            <input type="text" name="str">
            <button type="submit">SUBMIT</button>
        </form>

        <% if( locals.result) {%>
            <p><%= result %></p>  
        <%}%>
        
    </body>
</html>